# 開発の進め方
このプロジェクトは、TypeScriptで書かれている。
コードの修正や追加を行う際には、yarn lintとyarn type-checkを実行してほしい。
lintのエラーはyarn lintで確認できるので、それを使って修正してほしい。警告は無視してもいいが、エラーは修正してほしい。
型のエラーはyarn type-checkで確認できるので、それを使って修正してほしい。

