# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
*.iml
*.hprof
*.aab
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
**/Pods/


# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*


# testing
/coverage

# Expo
.expo/
web-build/
dist/


#firebase
.env
appkey.txt
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
emulatorExport/
*.cache
firebase.json

#secret key include
local.properties
android/app/google-services.json
GoogleService-Info.plist
GoogleService-Info.plist.development
GoogleService-Info.plist.production
google-services.json.development
google-services.json.production
Maps.plist
APIKeys.ts

#exclude template from ignore
!/template/*

android_bac/
ios_bac/

modules/react-native-gdalwarp/android/libs/
modules/react-native-gdalwarp/ios/Frameworks/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

react-native-maps/

# workflow
ExportOptions.plist