<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ecorismap.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>137</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
				<key>dateExpires</key>
				<string>2026/03/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
						<key>dateExpires</key>
						<string>2026/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VSCCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5G4AV2NNZ</string>
						<key>name</key>
						<string>Ecoris Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
						<key>dateExpires</key>
						<string>2026/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VSCFoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5G4AV2NNZ</string>
						<key>name</key>
						<string>Ecoris Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
						<key>dateExpires</key>
						<string>2026/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VSCPythia.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5G4AV2NNZ</string>
						<key>name</key>
						<string>Ecoris Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
						<key>dateExpires</key>
						<string>2026/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>crsqlite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5G4AV2NNZ</string>
						<key>name</key>
						<string>Ecoris Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A648E13B3DAED23450C343BBFE9E7003D2A0FD99</string>
						<key>dateExpires</key>
						<string>2026/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5G4AV2NNZ</string>
						<key>name</key>
						<string>Ecoris Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V5G4AV2NNZ.jp.co.ecoris.ecorismap</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>V5G4AV2NNZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ecorismap.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>99751344-d576-4d89-bcbe-1f2da21eb13c</string>
				<key>dateExpires</key>
				<string>2026/03/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: jp.co.ecoris.ecorismap</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V5G4AV2NNZ</string>
				<key>name</key>
				<string>Ecoris Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.4.2</string>
		</dict>
	</array>
</dict>
</plist>
